@import './fonts';
@import './variables';
@import '~bootstrap-icons';
@import '~bootstrap/scss/bootstrap';
@import '~glider-js/glider.css';
@import '~photoswipe/style.css';

body {
	padding-top: 93px;
}

a {
	user-select: none;
}
label[for] {
	cursor: pointer;
	user-select: none;
}

.underline {
	text-decoration: underline;
}
.underline-hover:hover {
	text-decoration: underline;
}
.pointer {
	cursor: pointer !important;
	user-select: none;
}
.fw-medium {
	font-weight: 600 !important;
}

.input {
	padding-top: .5rem;
	padding-bottom: .5rem;
	border: 0;
	border-bottom: 2px solid var(--bs-dark) !important;
	background-color: transparent !important;
	box-shadow: none !important;
}

.rules {
	display: none;
}
input[type=password]:focus ~ .rules {
	display: block;
}

.btn-paypal iframe {
	z-index: auto !important;
}

.dropdown-hover:hover .dropdown-menu {
	display: block;
}

.arrows.carousel-control-prev,
.arrows.carousel-control-next {
	top: calc(50% - 28px);
	bottom: auto;
	width: 56px;
	height: 56px;
	background-color: var(--bs-light);
}

.btn-close {
	box-shadow: none !important;
}

.ac .ac-panel {
	overflow: hidden;
}
.ac.js-enabled .ac-panel {
	visibility: hidden;
}
.ac.is-active .ac-panel {
	visibility: visible;
}
.ac .ac-panel .ac-text {
	padding: .5rem 1rem;
}
.ac .ac-panel .ac-text p {
	margin-bottom: .5rem;
}
.ac .ac-panel .ac-text p:last-child {
	margin-bottom: 0;
}

@media (min-width: 992px) {
	.dropdown-lg-hover:hover .dropdown-menu {
		display: block;
	}
}

@media (max-width: 991px) {
	.js-image-zoom__zoomed-area,
	.js-image-zoom__zoomed-image {
		display: none !important;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}
