@font-face {
	font-family: 'Avenir-Book';
	src: url('/fonts/avenir/Avenir-Book-01.ttf') format('truetype');
}
@font-face {
	font-family: 'Avenir-Heavy';
	src: url('/fonts/avenir/Avenir-Heavy-05.ttf') format('truetype');
}
